  body {
      padding: 2%;
      background-color: #002244;
      color: white;
  }

  a {
      color: white;
  }

  .justi {
      text-align: justify;
  }

  #table1 {
      width: fit-content;
  }

  table {
      width: 100%;
      border-collapse: collapse;
      margin: 2px 2px;
  }

  th,
  td {
      border: 1px solid #ccc;
      padding: 5px;
      text-align: left;
  }

  th.firstcol {
      width: 20%;
  }

  th.proti {
      color: red;
  }

  th {
      background-color: #0e1f31;
      font-weight: bold;
  }

  tr:nth-child(even) {
      background-color: #071857;
  }

  a {
      text-decoration: none;
      color: #0077e2;
  }